{{> header}}
{{> navbar}}
<div class="p-5 mb-4 rounder-3">
    <div class="container text-center">
        <div class="col p-2 hero">
            <h2 class="text-hero">Organize it all with </h2>
            <h2 class="text-hero">Taks Collections</h2>
            <a href="/login" class="btn btn-primary btn-hero">Get Started</a>
        </div>
    </div>
</div>
{{> footer}}